<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbms_app.Properties.Settings.bim312ConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=bim312"
            providerName="MySql.Data.MySqlClient" />
        <add name="dbms_app.Properties.Settings.bim312ConnectionString1"
            connectionString="server=localhost;user id=root;password=BnYpM11kd.148;persistsecurityinfo=True;database=bim312"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>